<form action="{{formSubmitUrl}}" method="POST" id="flagsEditForm">
	<ul class="flags">
	{{#flags}}
		<li>
			<input type="checkbox" name="{{../inputNamePrefix}}:{{flag_type_id}}:{{../inputNameCheckbox}}" {{#if flag_id}}checked="checked"{{/if}}/>
			<label>{{flag_name}}</label>
			<a href="{{flag_view_url}}" target="_blank">More info</a>
			{{#each params}}
				<input type="text" name="{{../../inputNamePrefix}}:{{../flag_type_id}}:{{@key}}" value="{{this}}" placeholder="{{@key}}" class="param" />
			{{/each}}
		</li>
	{{/flags}}
	</ul>
	<input type="hidden" name="pageId" value="{{pageId}}"/>
	<input type="hidden" name="token" value="{{editToken}}"/>
</form>
