<div class='heading'>
    <h2>
        <a href='#!/{{name}}' onclick="Docs.toggleEndpointListForResource('{{name}}');">
            <span class="collapse-expand-button">
                <span class="collapse-text">collapse</span>
                <span class="expand-text">expand</span>
            </span>
            <span class="heading-name-and-description">
                <span class="api-name">/{{readableName}}</span>
                <span class="description">{{description}}</span>
            </span>
        </a>
    </h2>
</div>
<ul class='endpoints' id='{{name}}_endpoint_list' style='display:none'>

</ul>
