<div class='heading'>
    <h2>
        <a href='#!/{{name}}' onclick="Docs.toggleEndpointListForResource('{{name}}');">
            /{{name}}
            <span class="description">{{desription}}</span>

            <span class="collapse-button">collapse</span>
            <span class="expand-button">expand</span>
        </a>
    </h2>
</div>
<ul class='endpoints' id='{{name}}_endpoint_list' style='display:none'>

</ul>
